# ignore node_modules

node_modules/

# ignore asp.net bin dir and obj dir

bin/
obj/
packages/
.vs/

Bin/

#some folders

_docs/
_examples/
_videos/

_tmp/
tmp/
temp/

Study/
Tasks/
Tests/

# sql server databases

_msserver/