@model IEnumerable<BookStore.Models.Books>
@{
    Layout = "~/Views/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div id="index">
@foreach (var item in Model)
{
<div class="card horizontal book-card">
    <div class="card-image">
        <img class="book-img" src="../../assets/img/@Html.DisplayFor(modelItem => item.BookCoverUrl)">
    </div>
    <div class="card-stacked">
        <div class="card-content">
            <h4>@Html.DisplayFor(m => item.Title)</h4>
            <p>@Html.DisplayFor(m => item.Authors) 著</p>
            <p>￥@Html.DisplayFor(m => item.Price)</p>
        </div>
        <div class="card-action">
            @Html.ActionLink("buy", "Order", new { id = item.BookId }, new { @class = "btn" })
        </div>
    </div>
</div>
}
</div>