<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <!-- 数据库连接字符串 -->
  <connectionStrings>
    <add name="TestDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=E:\studiospace\ASP.NET\Connector\App_Data\test.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

</configuration>
