<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="江西" value="Jx"/>
    <add key="四川" value="Sc"/>
    <add key="广东" value="Gd"/>
    <add key="上海" value="Sh"/>
  </appSettings>
  
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>