body {
  background-color: #ffffff;
  overflow-x: hidden;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h4 {
  color: #808080;
}

a {
  text-decoration: none;
  color: #808080;
}

a:hover {
  color: #068dd2;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.logo {
  text-align: center;
  padding: 15px;
  margin-top: 45px;
}

.sign-container {
  display: flex;
  justify-content: center;
}

.input {
  border: 1px solid #dddccc;
}

.input > input {
  border: 0;
  padding: 8px 15px;
  border-radius: 2px;
}

.sign-btn {
  margin-top: 15px;
}

.sign-btn input[type="submit"] {
  width: 100%;
  padding: 8px;
  border: 0;
  cursor: pointer;
}

.sign-btn .sign-in > input {
  color: #ffffff;
  border-radius: 2px;
  background-color: #068dd2;
}

.sign-btn .sign-up > input {
  color: #068dd2;
  background-color: #ffffff;
  border: 1px solid;
  border-radius: 2px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav > div {
  position: relative;
}

.nav .sign-box {
  border: 1px solid #dddccc;
  border-radius: 3px;
  position: absolute;
  padding: 10px 0;
  left: 0;
  right: 0;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
}

.nav .sign-box > ul {
  display: block;
}

.nav .sign-box > ul > li {
  margin-top: 5px;
}

.icon-triangle {
  display: inline-block;
  height: 16px;
  width: 16px;
  border-top: 2px solid #dddccc;
  border-left: 2px solid #dddccc;
  transform: rotate(45deg);
  background-color: #fff;
  position: absolute;
  top: -10px;
  left: 37%;
}

.user-avatar {
  font-size: 0;
  display: inline-block;
  border-radius: 50%;
  margin: 15px;
}

.user-avatar > img {
  height: 42px;
  border-radius: inherit;
}

.user-avatar > img:hover {
  box-shadow: 0 0 2px #068dd2;
}

.article-list > .container {
  padding: 15px;
}

.article-list [class*="article-"] {
  display: flex;
  max-width: 600px;
  margin: 0 auto;
  align-items: center;
  border-bottom: 1px dashed #dddccc;
}

.article-list [class*="article-"] .author {
  flex: 2;
}

.article-list [class*="article-"] .title {
  flex: 3;
  padding: 0 15px;
}

.article-list [class*="article-"] .date {
  flex: 3;
}

.article-detail {
  padding: 15px;
}

.article-detail > .container {
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #dddccc;
}

.article-detail .title {
  color: #444;
}

.article-detail .content {
  color: #808080;
}

.write-cmnt {
  margin-top: 30px;
}

.write-cmnt > .container {
  max-width: 600px;
  margin: 0 auto;
}

.write-cmnt .submit-cmnt {
  text-align: right;
  margin-top: 15px;
}

.write-cmnt .submit-cmnt > input {
  border: 0;
  background-color: #068dd2;
  color: #fff;
  padding: 5px 15px;
  border-radius: 2px;
  cursor: pointer;
  opacity: 0.6;
}

.rich-editor {
  border: 1px dashed #808080;
  border-radius: 2px;
  padding: 15px;
  color: #808080;
  position: relative;
  /*&:focus {
        outline: 1px solid $main-color;
    }*/
  /*> .placeholder {
        position: absolute;
        z-index: 1;
        margin-left: $main-size;
    }

    > div.edit-area {
        height: 100px;
        position: relative;
        z-index: 2;
        padding: $main-size;
        overflow: auto;
    }

    > span.edit-area {
        height: 100px;
        position: relative;
        z-index: 2;
        padding: $main-size;

        display: block;
        overflow: auto;
    }*/
}

.rich-editor > textarea.edit-area {
  height: 100px;
  width: 100%;
  border: 0px dashed #808080;
  margin: 0;
  resize: none;
  overflow-y: hidden;
  padding: 0;
  outline: 0;
}

.rich-editor p {
  font-size: 14px;
}

.comment {
  padding: 15px;
}

.comment > h3 {
  max-width: 600px;
  margin: 0 auto;
  color: #444;
}

.comment > .container {
  max-width: 600px;
  margin: 0 auto;
}

.comment [class*="comment-"] {
  border-bottom: 1px dashed #dddccc;
}

.comment .author {
  color: #444;
}

.comment .author > h5 {
  margin: 15px 0;
}

.comment .content:hover {
  outline: 1px solid #bee2ee;
  cursor: pointer;
}

.comment .content > p {
  font-size: 14px;
  color: #808080;
}

.comment .meta > span {
  font-size: 12px;
  color: #808080;
}

#display {
  text-align: center;
  color: red;
  font-size: 14px;
}

.reply-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity .5s linear;
}

.reply-container > .container {
  max-width: 600px;
  margin: 0 auto;
  padding: 15px 15px 15px;
  background-color: #ffffff;
  border-radius: 4px;
  position: relative;
  top: 30%;
}

.reply-container .tip-text {
  color: #808080;
  font-size: 14px;
}

.reply-container .tip-text a {
  border-bottom: 1px solid #808080;
}

.reply-container .header-box {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #808080;
}

.reply-container .header-box > .reply-who {
  font-size: 14px;
  align-self: flex-end;
}

.reply-container .submit-reply {
  text-align: right;
  margin-top: 15px;
}

.reply-container .submit-reply > input {
  border: 0;
  background-color: #068dd2;
  color: #fff;
  padding: 5px 15px;
  border-radius: 2px;
  cursor: pointer;
  opacity: 0.6;
}

.icon-cancel {
  color: #808080;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 15px;
}

textarea {
  font-family: inherit;
  background: #fff;
}

