<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  
  <connectionStrings>
    <add name="TestDB" connectionString="server=localhost;user id=root;database=test;password=root" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
    
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>